<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加商品</title>
</head>
<style>
    .form_content{
        margin: 40px 0 auto;
    }


</style>
<body>
    <div style="width: 80%;margin: 0 auto;padding-top: 100px">

        <form id="addgood" action="{% url 'addgood' %}" method="post" enctype="multipart/form-data">
            <h2>管理员添加产品</h2>
            <div class="form_content">
                <span>产品名称：</span><input type="text" name="name" placeholder="请输入产品名称"/>
            </div>
            <div class="form_content">
                <span>价格：</span><input type="text" name="price" placeholder="价格"/>
            </div>
            <div class="form_content">
                <span>产品描述：</span><input type="text" name="description" placeholder="请输入产品描述"/>
            </div>
            <div class="form_content">
                <span>产品类型：</span>
                <select name="type">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="form_content">
                <span>产品介绍图：</span><input type="file" name="fontimage"/>
            </div>
            <div class="form_content">
                <span>产品详情图</span><input type="file" id="detailimage"/>
            </div>

            <div class="form_content">
                <button type="submit">添加</button>
            </div>

        </form>


    </div>
</body>
</html>