{% extends 'base.html' %}
{% block login %}
    {{ username }}
{% endblock %}
{% block title %}
    首页
{% endblock %}
{% block content %}
    <div class="img-slider">
        <div class="wrap">
            <ul id="jquery-demo">
                <li>
                    <a href="#slide1">
                        <img src="/static/images/slide-1.jpg" alt=""/>
                    </a>
                    <div class="slider-detils">
                        <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                        <span>Stay true to your team all day, every day, game day.</span>
                        <a class="slide-btn" href="details.html"> Shop Now</a>
                    </div>
                </li>
                <li>
                    <a href="#slide2">
                        <img src="/static/images/slide-4.jpg" alt=""/>
                    </a>
                    <div class="slider-detils">
                        <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                        <span>Stay true to your team all day, every day, game day.</span>
                        <a class="slide-btn" href="details.html"> Shop Now</a>
                    </div>
                </li>
                <li>
                    <a href="#slide3">
                        <img src="/static/images/slide-1.jpg" alt=""/>
                    </a>
                    <div class="slider-detils">
                        <h3>MENS FOOT BALL <label>BOOTS</label></h3>
                        <span>Stay true to your team all day, every day, game day.</span>
                        <a class="slide-btn" href="details.html"> Shop Now</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wrap">
        <div class="price-rage">
            <h3>Weekly selection:</h3>
            <div id="slider-range">
            </div>
        </div>
    </div>
    <div class="content">
        <div class="wrap">
            <div class="content-left">
                <div class="content-left-top-grid">
                    <div class="content-left-price-selection">
                        <h4>Select Price:</h4>
                        <div class="price-selection-tree">
                            <span class="col_checkbox">
                                <input id="10" class="css-checkbox10" type="checkbox">
                                <label class="normal"><i for="10" name="demo_lbl_10"
                                                         class="css-label10"> </i> 400</label>
                                </span>
                            <span class="col_checkbox">
										<input id="11" class="css-checkbox11" type="checkbox">
										<label class="active1"><i for="11" name="demo_lbl_11" class="css-label11"> </i>350</label>
									</span>
                            <span class="col_checkbox">
										<input id="12" class="css-checkbox12" type="checkbox">
										<label class="normal"><i for="12" name="demo_lbl_12" class="css-label12"> </i> 300</label>
									</span>
                            <span class="col_checkbox">
										<input id="13" class="css-checkbox13" type="checkbox">
										<label class="normal"><i for="13" name="demo_lbl_13" class="css-label13"> </i>250</label>
									</span>
                            <span class="col_checkbox">
										<input id="14" class="css-checkbox14" type="checkbox">
										<label class="normal"><i for="14" name="demo_lbl_14" class="css-label14"> </i> 200</label>
									</span>
                            <span class="col_checkbox">
										<input id="15" class="css-checkbox15" type="checkbox">
										<label class="normal"><i for="15" name="demo_lbl_15" class="css-label15"> </i>150</label>
									</span>
                        </div>

                    </div>
                </div>
                <div class="content-left-bottom-grid">
                    <h4>Boys Football:</h4>
                    <div class="content-left-bottom-grids">
                        <div class="content-left-bottom-grid1">
                            <img src="/static/images/foot-ball.jpg" title="football"/>
                            <h5><a href="details.html">Nike Strike PL Hi-Vis</a></h5>
                            <span> Football</span>
                            <label>&#163; 375</label>
                        </div>
                        <div class="content-left-bottom-grid1">
                            <img src="/static/images/jarse.jpg" title="jarse"/>
                            <h5><a href="details.html">Nike Strike PL Hi-Vis</a></h5>
                            <span> Football</span>
                            <label>&#163; 375</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-right">
                <div class="product-grids">
                    <!--- start-rate---->
                    <script src="/static/js/jstarbox.js"></script>
                    <link rel="stylesheet" href="/static/css/jstarbox.css" type="text/css" media="screen" charset="utf-8"/>
                    <script type="text/javascript">
                        jQuery(function () {
                            jQuery('.starbox').each(function () {
                                var starbox = jQuery(this);
                                starbox.starbox({
                                    average: starbox.attr('data-start-value'),
                                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                                    ghosting: starbox.hasClass('ghosting'),
                                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                                    stars: starbox.attr('data-star-count') || 5
                                }).bind('starbox-value-changed', function (event, value) {
                                    if (starbox.hasClass('random')) {
                                        var val = Math.random();
                                        starbox.next().text(' ' + val);
                                        return val;
                                    }
                                })
                            });
                        });
                    </script>
                    <!---//End-rate---->
                    <!---caption-script---->
                    <!---//caption-script---->
                    {% for good in goods %}
                        <div onClick="location.href={% url 'detail' good.goodId %};" class="product-grid fade">
                        <div class="product-grid-head">
                            <ul class="grid-social">
                                <li><a class="facebook" href="#"><span> </span></a></li>
                                <li><a class="twitter" href="#"><span> </span></a></li>
                                <li><a class="googlep" href="#"><span> </span></a></li>
                                <div class="clear"></div>
                            </ul>
                            <div class="block">
                                <div class="starbox small ghosting"></div>
                                <span> (46)</span>
                            </div>
                        </div>
                        <div class="product-pic">
                            <a href="#"><img src="{{ good.fontPageImg }}" title="product-name"/></a>
                            <p>
                                <a href="#">
                                    <small>{{ good.name }}</small>
                                    <small>Phantom</small>
                                    </a>
                                <span>{{ good.description }}</span>
                            </p>
                        </div>
                        <div class="product-info">
                            <div class="product-info-cust">
                                <a href="{% url 'detail' good.goodId %}">Details</a>
                            </div>
                            <div class="product-info-price">
                                <a href="details.html">&#163; {{ good.price }}</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="more-product-info">
                            <span> </span>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}


